{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/SetInterview.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<script type="application/json" src="{% static 'Interview-Questions/questions.json' %}"></script>
<script>
    fetch('questions.json')
        .then(response => response.json())
        .then(data => {
            const questionList = document.getElementById('question-box');

            data.questions.forEach(question => {
                const listItem = document.createElement('li');
                const questionText = document.createTextNode(question.question);

                listItem.appendChild(questionText);
                questionList.appendChild(listItem);
            });
        })
        .catch(error => console.error(error));
</script>

<body>
    <div class="wrapper">

        <div class="heading-container">
            <div class="design-heading">
                <h1>SET INTERVIEW</h1>
            </div>
        </div>

        <div class="paper-set-section">

            {% for set in set_interview %}
            <div class="company-details">
                <div>
                    <label for="interviewName">{{set.interview_name}} : </label>
                    <input type="text" name="interviewName">
                </div>

                <div>
                    <label for="companyName">{{set.company_name}} : </label>
                    <input type="text" name="companyName">
                </div>

                <div>
                    <label for="lastDate">{{set.last_date}} : </label>
                    <input type="date" name="lastDate">
                </div>

            </div>

            <div class="question-container">

                {{ if set.question %}}
                <div class="question-header">
                    <h2>Questions</h2>
                    <button data-addQuestion>Add Question</button>
                    <h2>Time</h2>
                </div>
                {{ endif %}}

                <hr>

                <div class="question-bank">

                    <ol class="question-template" data-questionTemplate>
                        {% for set in set_interview.questions.all %}
                        <li class="question-box">
                            <div>{{ set.question }}</div>
                            <div>{{ set.time_limit }} min</div>
                        </li>
                        {% endfor %}

                        {% for set in set_interview.questions.all %}
                        <li class="question-box">
                            <div>{{ set.question }}</div>
                            <div>{{ set.time_limit }} min</div>
                        </li>
                        {% endfor %}
                    </ol>
                </div>



                <div class="popup-adding-container">
                    <div class="background-popup"></div>
                    <form class="popup-form">
                        <input type="text" placeholder="write Question" data-newQuestionInput>
                        <input type="number" placeholder="time limit" data-timeLimitInput>
                        <button data-add-submit-btn type="submit">Add</button>
                    </form>
                </div>
            </div>

            <div class="submit-btn">
                <button>Submit</button>
            </div>

        </div>

    </div>

    <script src="{% static 'javascript/SetInterview.js' %}"></script>
</body>

</html>