{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/AdminPanel.css' %}">
</head>

<body>
    <div class="container">

        <form action="setInterview" method="post">
            {% csrf_token %}
            <button class="btn btn-default btn-lg">Set Interview</button>
        </form>

        <form action="checkInterview" method="post">
            {% csrf_token %}
            <button class="btn btn-default btn-lg">Check Interview</button>
        </form>

    </div>
</body>

</html>