{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interview List</title>
    <link rel="stylesheet" href="{% static 'styles/InterviewList.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">

        <div class="heading-container">
            <div class="design-heading">
                <h1>Interview List
                </h1>
            </div>
        </div>

        <div class="list-container">
            <div class="list-box">
                <div class="leftPart">
                    <h3 interviewNameIL >Associate Software Engineer</h3>
                    <div>Total time : <span> 30 min</span></div>
                    <div companyNameIL>Company: JP Morgan</div>
                    <div lastDateIL>Last date : <span>31 April</span></div>
                </div>

                <a href="/interview"><button class="btn btn-default btn-lg">Start Interview</button></a>
            </div>

            <div class="list-box">
                <div class="leftPart">
                    <h3>Fullstack developer</h3>
                    <div>Total time : <span> 20 min</span></div>
                    <div>Company: Barclays</div>
                    <div>Last date : <span>15 March</span></div>
                </div>

                <a href="/interview"><button class="btn btn-default btn-lg">Start Interview</button></a>
            </div>
        </div>
    </div>

</body>
</html>