*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    width: 100vw;
    height: 100vh;
}

.heading-container{
    width: 100%;
    background-color:rgba(152, 96, 11, 0.44);
    display: flex;
    justify-content: center;
}
.design-heading{
    background-color: #a7a090;
    margin:10px ;
    font-size: 15px;
    padding: 0 10px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.list-container{
    width: 100%;
    height: 90%;
    max-height: fit-content;
    background-color:  rgba(200, 200, 200, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.list-box{
    width: 70%;
    max-height: 150px;
    background: rgba(255, 153, 0, 0.69);
    border-radius: 20px;
    padding: 20px 40px;
    position: relative;
}

.leftPart{
    display: flex;
    flex-direction:column;
    align-items: start;
    justify-content: center;
}

button{
    position: absolute;
    top:20%;
    right: 10%;
    background-color:rgb(0, 255, 34, 0.5);
    font-size: 20px;
    padding: 3px 25px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    border: 1px;
}
